body {
   background-color: #DDD7C4;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   height: 100vh;
   background-image: url(../img/istockphoto-1210441991-612x612.jpg);
   margin: 0;
}


.cajaHeader {
   display: flex;
   background-color: rgb(220, 216, 195);
}


.cajaLogo {
   width: 25%;
   display: flex;
   justify-content: center;

}


.cajaBuscador {
   width: 50%;
   display: flex;
   align-items: center;

}




.buscador {
   width: 100%;
   height: 35px;
   border-radius: 9px;
   padding-block: 0px;
   padding-inline: 0px;
}

.formBuscador {
   width: 100%;
}




.logoHeader {
   width: 100px;
}


.cajaLinks {
   width: 25%;
   display: flex;
   justify-content: center;

}


.navBar {
   display: flex;
   align-items: center;
}


.listaLinks {
   display: flex;
   list-style-type: none;
   padding: 0px;
}


.links {
   color: black;
   text-decoration: none;
   margin: 10px;

}



footer {
   display: flex;
   justify-content: center;
}


.cajaFooter {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 10px;
   background-color: rgb(220, 216, 195);
   border-top-right-radius:10px ;
   border-top-left-radius:10px ;
   width: 30%;
}





/* FORMULARIOS */
.formulario {
   display: flex;
   justify-content: center;
}


.form {
   padding: 80px;
   background-size: 100%;
   border: solid 3px black;
   border-radius: 20px;
   margin-top: 5%;
   background-color: rgb(245 245 220);

}

.obligatorio {
   color: red;
   margin: 0;
}

.obligatorio2 {
   color: red;
}



.cajaboton {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 30px;
}


.ingresar {
   background-color: #bcb59b;
   border-radius: 10px;
   border: none;
   height: 4vh;
   width: 9vw;
   margin: 5px;
}


#email {
   width: 100%;
   height: 25px;
}


#contrasennia {
   width: 100%;
   height: 25px;
}


.imagenHome {
   width: 100%;
   border-radius: 20px;
}


.listaRecetas {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   padding-left: 50px;
   padding-bottom: 50px;
   padding-right: 50px;
}


.articuloHome {
   width: 18%;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 20px 0px;
   margin: 30px 0px;
   background-color: rgb(245 245 220);
   border-radius: 20px;
}


.contenedorBoton {
   justify-content: center;
   display: flex;
   align-items: center;
}


.cargarMas {
   width: 12%;
   padding: 15px 30px;
   background-color: #bcb59b;
   color: #000000;
   border: none;
   border-radius: 8px;
   font-size: 18px;
}


#verDetalle {
   text-decoration: none;
   display: flex;
   width: 40%;
   justify-content: center;
   align-items: center;
   color: #000000;
   border-radius: 10px;
   border: 1px solid black;
   background-color: #bcb59b;
}


.tituloIndex {
   align-items: center;
   display: flex;

}

.cajatituloIndex {
   border-radius: 20px;
   background-color: rgb(245 245 220);
   text-align: center;
   display: flex;
   width: 23%;
   justify-content: center;
   height: 40px;
   margin-top: 10px;
}



.tituloReceta {
   margin: 0;
   height: 80px;
}

.textoReceta {
   height: 50px;
   margin: 0;
}


.nombreCategoria {
   align-items: center;
   display: flex;

}

.listaTags {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
}


.articleCategories {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.sectionCategories {
   width: 17%;
   justify-content: center;
   display: flex;
   background-color: rgb(245 245 220);
   height: 8vw;
   margin: 16px;
   border-radius: 10px;
   border: 1px solid black;
}

.contenedorRecetas {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   padding-left: 50px;
   padding-bottom: 50px;
   padding-right: 50px;
}

.imgReceta {
   width: 250px;
   border-radius: 20px;
}

.linksCate {
   color: black;
   text-decoration: none;
   font-size: 17px;
}

.cargar {
   display: flex;
   justify-content: center;
}

.tituloCate {
   text-align: center;
}

.inicio .cajaHeader {
   justify-content: center;
}

.nombreCategorias {

   color: black;
}

.detalleReceta {
   display: flex;
   justify-content: center;
   margin-top: 3%;
}

.receta1 {

   display: flex;
   flex-direction: row;
   width: 70%;
   background-color: rgb(245 245 220);
   border-radius: 20px;
}

.imagenR {
   display: flex;
   width: 50%;
   justify-content: center;
   align-items: center;
}

.infoR {
   width: 50%;
   padding: 10px;
}

.titReceta {
   text-align: center;
}

.cajaGrande {
   display: flex;
   justify-content: center;
}



@media (max-width: 420px) {
   .cajaHeader {
      justify-content: center;
      flex-direction: column;
   }

   .cajaLogo {
      width: 100%;
   }

   .cajaBuscador {

      display: none;
   }

   .cajaLinks {
      width: 100%;
   }

   .articuloHome {
      width: 100%;
   }

   .listaRecetas {
      flex-direction: column;
   }
.cajatituloIndex {
   width: 80%;
}

   .cargarMas {
      width: 50%;
   }

   .sectionCategories {
      width: 100%;
      height: 25vw;
   }

   .ingresar {
      height: 9vh;
      width: 25vw;
   }

   .integrantes {
      text-align: center;
   }

   .receta1 {
      flex-wrap: wrap;
      justify-content: center;
   }

   .imagenR {
      padding: 10px;
   }

   .infoR {
      width: 100%;
   }
   .cajaFooter {
      width: 80%;
   }
}